[2020-11-16 00:44] TexMexMax opened #1 "Does this work with other flutter plugins?"
Gonna try to do bluetooth.

[2020-11-17 09:41] JulianAssmann commented on #1
Yes, it should work with other plugins, as the whole isolate keeps running. However, I only tested it with the flutter_local_notifications plugin.

[2020-11-23 15:22] JulianAssmann commented on #1
Do you have any updates on this? Otherwise I would close this issue.

[2020-11-26 10:31] JulianAssmann commented on #1
I will close this issue now, feel free to reopen it.

[2020-11-26 10:31] #1 closed

[2020-12-01 02:43] mrbreyner opened #2 "androidConfig closes the application"
hi, i decided to try your plugin and it worked fine, but when i call androidConfig initializer, the application closes instantly, however if i don't use androidConfig, everything works fine.

excuse my English 😁

[2020-12-01 17:59] JulianAssmann commented on #2
Thank you for the bug report, I will look into it.

[2020-12-08 23:52] adinortey360 commented on #2
This is the case for me too.
Actually, It causes my app to crash after the phone is restarted. It works fine even with androidConfig initialized for the first time the app is run then after the phone is restarted or sometimes when the app is restarted the crash begins.

[2020-12-09 09:58] JulianAssmann commented on #2
Thank you very much for the report. Does it crash with an error message in the console? If so, providing that would be very helpful.

[2020-12-12 19:36] JulianAssmann commented on #2
The issues should now be resolved with [this](https://github.com/JulianAssmann/flutter_background/commit/58a4470d7fbdb4ef1dde0128dd4ef3b2345560e3) commit, corresponding to version 0.1.2. Please let me know, if this fixes the problem for you.

[2020-12-12 19:52] JulianAssmann opened #4 "Create Github Workflow"
Create Github for automatic building and testing

[2020-12-12 19:55] JulianAssmann opened #5 "Create simpler example"
The current example is a relatively complex TCP chat app. This makes it hard for new users of this plugin to easily see how to use the plugin in a few lines of code.

[2020-12-21 20:57] yakupbaser opened #6 "example build error"
hi,

i tryed to bu build your example and i got an error. firstly i upgraded packages. I use flutter last version. Error output is:

Macs-MacBook-Pro:example macpro$ flutter build apk --target-platform android-arm64

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:lintVitalRelease'.

* Try:
Run with --stacktrace option to get the stack trace. Run with -

[2020-12-22 08:51] JulianAssmann commented on #6
Hey,

this seems to be an issue not related to the package. Could you please try again with

[code]

as suggested [here](https://stackoverflow.com/questions/62394034/flutter-can-not-build-android-apk)?

[2020-12-23 05:02] yakupbaser commented on #6
yes it worked,
i had tried in ios i guess :)
Thanks for your help.

[2020-12-23 05:02] #6 closed

[2020-12-23 17:01] adinortey360 opened #7 "Running await FlutterBackground.hasPermissions first time crashes the app"
Running await FlutterBackground.hasPermissions for the first time crashes the app after the user click enable ignore battery optimization button.

[2020-12-25 17:24] JulianAssmann commented on #6
Perfect, thanks for letting me know :+1:

[2020-12-25 17:25] JulianAssmann commented on #7
Thank you for th error report! I will look into it when I have some time (might be a little bit). Do you have any error logs from the console you could provide?

[2020-12-26 09:06] JulianAssmann opened #8 "[Android] Add ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS as an option to obtain excemption from battery optimizations"
On android, add [ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS](https://developer.android.com/reference/android/provider/Settings#ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS) as an option to obtain excemption from battery optimizations, as declaring [REQUEST_IGNORE_BATTERY_OPTIMIZATIONS](https://developer.android.com/reference/android/Manifest.permission.html#REQUEST_IGNORE_BATTERY_OPTIMIZATIONS) mi

[2020-12-30 19:11] chocovish opened #9 "[BUG] after running for some hours app restarts and the notification text changes to default."
This plugin works quite well except for the first time crash while granting permission.
what I noticed that if I run the app for few hours like 8-9hours it restarts autoomatically (as I can see the  "time since" thing in notification changes). and the notification title and description text switch backs to default (keeps the flutter app running in the background). attaching screenshot.

![image](h

[2020-12-31 19:27] JulianAssmann commented on #9
Thank you very much for the bug report!
What device are you using?

[2021-01-02 08:23] JulianAssmann commented on #2
I just encountered the same problem again with the example app, so I'm reopening this issue.

The error:
[code]

[2021-01-02 10:55] JulianAssmann opened #11 "[Android] Allow for custom notification icon"
Currently, the icon for the notification is hard-coded to be loaded from the resource with the identifier `ic_launcher` (see `IsolateHolderService`, in `onCreate()` before creating the notification). To change this, a new `String` field, e.g. `notification_icon`, has to be added in `FlutterBackgroundAndroidConfig` and passed down to the Android side just like the notification title etc.
The docume

[2021-01-02 11:42] JulianAssmann commented on #7
This should now be resolved by PR #12
I will close this issue, but if the bug persits, please don't hesitate to reopen it and let me know.

[2021-01-02 11:42] JulianAssmann commented on #2
This should now be resolved by PR #12
I will close this issue, but if the bug persits, please don't hesitate to reopen it and let me know.

[2021-01-02 11:42] #2 closed

[2021-01-12 11:56] daurin-oshin commented on #9
Good and excellent bookstore. The same thing happened to me on a galaxy s9, the service only lasted 15 minutes, it only happened once for now, I don't know what the problem will be, maybe android kills the service, any other reason for this bug?

[2021-01-13 21:46] JulianAssmann commented on #9
Interesting... Do you have any console logs available from when it resets/cancels the foreground service?
I will try and investigate, but so far I haven't been able to reproduce the problem on my own device :(

[2021-01-21 06:39] khyvez opened #13 "Task 'assembleAarRelease' not found"
![fb](https://user-images.githubusercontent.com/8803979/105302751-56b95100-5bf6-11eb-8f3c-38e3d56b4296.png)
Hello, I'm having trouble to build my app

[2021-01-21 07:23] JulianAssmann commented on #13
Does [this](https://github.com/flutter/flutter/issues/43704) or [this](https://github.com/gradle/gradle/issues/6026) solve the issue?

[2021-01-24 20:24] JulianAssmann commented on #13
Please feel free to reopen the issue if the problem remains.

[2021-01-24 20:24] #13 closed

[2021-02-13 17:07] Timmmm opened #15 "Typos in docs"
Small type in the readme/docs, it says to use `importance` but it's actually `notificationImportance`.

Also you have a typo in `disbleBackgroundExecution`.

[2021-02-13 17:14] JulianAssmann commented on #15
Thank you for the issue.
Closed by the referenced commit.

[2021-02-13 17:14] #15 closed

[2021-02-13 17:17] Timmmm opened #16 "What happens if you call initialize twice?"
Small clarification needed for the docs - what happens if you call initialize after it's already been called?

From the code it looks like it is fine to me - and probably a reasonable idea just to call initialize() before enable() every time. But it would be good to clarify that in the docs.

[2021-02-13 17:25] Timmmm opened #17 "Clarify what happens to the Dart VM"
Great project. Was very easy to integrate into my app. The only think I'm unsure about is exactly how it affects app behaviour. As I understand it, without doing anything on Android your app can just be killed at any point, including when the phone is idle, when it's low on memory, or when the user swipes the app away.

If I enable background execution what exactly happens? It seems like you don't

[2021-02-16 07:32] JulianAssmann opened #18 "Create null-safe version"
Create a null-safe version of this package. [Guide](https://dart.dev/null-safety/migration-guide)

[2021-02-23 08:28] JulianAssmann commented on #16
Thank you for the suggestion. I improved the initialize method and tried out calling it twice, and the code as well as the test suggest that there is no problem calling it as many times as you want. The documentation is now updated.

[2021-02-23 08:28] #16 closed

[2021-02-23 08:29] #11 closed

[2021-03-02 14:10] gaoyx-tech opened #20 "Location continuelly"
hello,I am a Chinese flutter developer,I used this project for location continuelly,even if screen off or let the app back to background.I use HuaWei Meta20,I found that if screen off after seconds the service will stop,it cannot location again.

[2021-03-02 16:14] JulianAssmann commented on #20
I am not sure how Huawei handles background execution of apps, as every OEM handles it a bit differently. What code are you trying to run where? Do you have any logs that could reveal the issue?
I did not test this package with geolocation services, but check out other plugins specifically made for this purpose like [flutter_background_geolocation](https://pub.dev/packages/flutter_background_geolo

[2021-03-03 03:40] gaoyx-tech commented on #20
ok,thanks for reply.

[2021-03-03 15:19] #20 closed

[2021-03-03 15:20] JulianAssmann commented on #20
You're welcome. Please feel free to reopen the issue at any time.

[2021-03-03 19:31] #18 closed

[2021-03-10 08:15] wytex opened #23 "Change Dialog Text for android"
I am running this package and I would know if it is possible to change the dialog text which is shown to the user.
thanks

[2021-03-10 19:42] JulianAssmann commented on #23
In the `FlutterBackgroundAndroidConfig` class you can specify the notification title, text and icon (see the README.md).
Does this help or are you looking for something else?

[2021-03-17 16:12] JulianAssmann commented on #23
I'm closing this issue due to inactivity, but feel free to reopen at any time :)

[2021-03-17 16:12] #23 closed

[2021-03-22 13:56] akospwc commented on #9
Excellent library, thank you for creating this, Julian!

For what it's worth, I am also experiencing this on a Samsung device. Might be unrelated, but Crashlytics also reported crashes at the same time. Let me know if you'd like me to create a separate issue for this instead (crash is coming from Samsung and Pixel devices, which covers 100% of the install base of our app)

[code]

[2021-03-27 16:48] JulianAssmann commented on #9
Thank you very much for the information, I will look into it when I have some time to spare :)

[2021-03-30 17:00] ViniciusDiasSilva commented on #9
I have the same problem.
Excellent library!
Thanks!

[2021-04-02 20:36] willhaslett opened #24 "Initialize without a notification?"
My use case does not involve creating notifications, but It seems that I can't initialize the `FlutterBackground` object without generating a notification. I see how the default constructor for `FlutterBackgroundAndroidConfig` includes dummy values for a notification, but does the 'initialize' call to the `MethodChannel` _necessarily_ generate a notification?

[2021-04-02 21:00] JulianAssmann commented on #24
Yes, unfortunately a foreground notification is required by Android to enable foreground services used by this plugin. See [here](https://developer.android.com/guide/components/foreground-services) for more information on that.

What exactly are you trying to achieve? Maybe there is a way without a notifications requirement to achieve it...

[2021-04-04 16:02] willhaslett commented on #24
@JulianAssmann ah, I see. I simply need to keep the app alive for periodic sensor data acquisition (users are aware of this and agree, it's a research app). I actually do want to created notifications when the app is backgrounded under certain logical conditions, was just curious if that first notification was necessary. Now I understand. Thank you.

And thanks for this plugin. Keep-alive is so tr

[2021-04-04 16:13] JulianAssmann commented on #24
Yes, it's really confusing on Android, I agree. But at least it's possible at all (looking at you, iOS :))

However, if you only want to execute some code periodically, there is the option of so called [WorkManager](https://developer.android.com/topic/libraries/architecture/workmanager)s and there is even a [workmanager plugin](https://pub.dev/packages/workmanager) for it in Flutter. Maybe this is

[2021-04-12 05:34] JulianAssmann commented on #24
Closing this issue due to inactivity. Feel free to reopen at any time.

[2021-04-12 05:34] #24 closed

[2021-04-17 02:21] tygm commented on #7
This may be a problem with other plug-ins, such as flutter_ screen_ Recording, this plug-in calls the onactivityresult method, but the third parameter data:Intent is  not nullable . When applying for power optimization, you will receive an empty intent, resulting in a crash

[2021-04-17 07:01] JulianAssmann commented on #7
@tygm Thank you for your comment, good to know.
Do you still have this issue with the `flutter_background` package currently?

[2021-04-20 07:50] JulianAssmann commented on #7
I think I have a nullable `Intent?`, see [here](https://github.com/JulianAssmann/flutter_background/blob/master/android/src/main/kotlin/de/julianassmann/flutter_background/PermissionHandler.kt#L76), right?

[2021-04-28 16:39] ahmedNY opened #25 "[Feature Request] Ability to open app on tapping notification"

[2021-04-29 19:37] nitneuq33 opened #26 "[BUG] Background work only 6min exactly"
Hello, I tried during long weeks to make works a flutter app in background, and I test this plugin with lot of hope. But it work only several minutes. After 6minutes my logic loop in a timer and I can’t go out. I need to reboot device or rebuild app to rework 6min. I respect manifest permission. I accept battery permission when I test. Weird things, when I’m plug-in ( powered by cable) it works wi

[2021-05-05 16:35] JulianAssmann commented on #26
This bug probably happens for the same reason as in #9.

Different OEMs have different policies on background execution in Android and modify the behaviou of the OS in this regard. This also would explain that the app works without any issue when plugged in, as there is no need to conserve energy in this case. You seem to have a rather aggressive OEM policy on your device.

Do you have any stacktr

[2021-05-27 19:13] flutteresbolivia opened #28 "[BUG] The notification closes when closing the application"
**Describe the bug**

I bought an s10 plus phone.
I just tested flutter_background and when I close the app the notification closes as well.
I have seen in some applications that when the application is completely closed, a notification always remains on the screen.

**To Reproduce**
close the application the notification closes

**Expected behavior**
The notification should not be closed.

**Scre

[2021-05-29 08:42] JulianAssmann commented on #28
This is expected behaviour, see #10
Is there a specific reason you want the notification to live on after the app is closed?

[2021-06-01 14:15] flutteresbolivia commented on #28
@JulianAssmann
Yes, because I am applying the Offline First Mobile architecture, and I need that when the application is closed it still sends the local SQLITE data to the Amazon cloud.

Similar to WhatsApp when it is synchronizing your data and when you close it, a current notification appears.

[2021-06-01 16:25] JulianAssmann commented on #28
I'm not sure this plugin is the best choice for this kind of task.
This plugin keeps the Flutter app running in the background, but the Flutter runtime is terminated when the user explicitly closes the app (e.g. by swiping up in the task view). So there is no use in still holding on to the Wake Lock, as nothing would happen anyway. I don't know the specifics of your use case, but maybe something l

[2021-06-01 17:17] flutteresbolivia commented on #28
@JulianAssmann
How will facebook or whatssap be able to do it? will they have their own sdk?

thanks for your clarification

[2021-06-05 20:02] alkebuware commented on #20
I was able to fix this problem recently and wanted to post a solution if anyone comes across this issue. In your Flutter app's Android's AndroidManifest.xml <application> tag add the following <service>

[code]

[2021-06-07 15:09] alkebuware commented on #25
#29 I created a pull request that implements this feature. @JulianAssmann will have to merge.

[2021-06-13 17:12] alkebuware opened #30 "[BUG] Handle Null Intents in onStartCommand"
**Describe the bug**
I'm getting some Crash reports in Crashlytics where the onStartCommand in IsolateHolderService.kt is called with a null Intent. It seems that variable is currently non-nullable type.

Caused by java.lang.IllegalArgumentException: Parameter specified as non-null is null: method f.n.c.i.d, parameter intent
       at de.julianassmann.flutter_background.IsolateHolderService.onStar

[2021-06-14 12:34] JulianAssmann commented on #28
You're welcome :)

[2021-06-14 12:34] #28 closed

[2021-06-14 12:36] JulianAssmann commented on #25
Closed by #29
Thank you @alkebuware

[2021-06-14 12:36] #25 closed

[2021-06-14 12:37] JulianAssmann commented on #30
Should be fixed by #31
Thank you @alkebuware

[2021-06-14 12:37] #30 closed

[2021-06-17 02:22] tonny-tris opened #32 "Permission of calling initialize()"
could you tell me how to ignore permission of calling initialize? because after launch app at first time after installed it, it's normal to call initialize() and take permission, but when I launch app after many times, initialize() took any permission again, and it's very annoying. I tried to call .hasPermission and it take 'false' even before I have taken permission granted to yes.
Could you tell

[2021-06-25 15:34] RobotMaths opened #33 "Background services when app is close"
Hi, the plugin is working well, I have nothing to say. However, when I close the app (swipe up) from the app menu of android, this don't still work. Is this plugin handle this ? What can I do to run my app 24/24 even if the user close it ?

Thx !

[2021-06-26 10:09] sils opened #34 "[BUG] Notification text doesn't get applied"
**Describe the bug**
I'm getting a default notification instead of the configured one.

Upon request, I can publish the full source code of the app. Note that I'm new to flutter and this may turn out to be a doc issue instead, especially since there seem to be no similar bug reports.

**To Reproduce**
On my home route, I run:
[code]

On the route where I want to start an audio stream in the backgr

[2021-06-27 15:21] GaelleJoubert opened #35 "Error : WakeLock finalized while still held"
Hello,
I'm using this plugging to run a function (bluetooth scan) in background, even if the app is not "open".
As a way to try this plugging to see if it fit my need, I code a very easy app where when I tap a button, it launch the bluetooth scan as a "forground service", and when the same button is tap again, it stop the scan and the foreground service.

A few second after closing the foreground

[2021-06-27 16:14] GaelleJoubert opened #36 "[Feature Request] Add "Button" to the notification"
**Describe the solution you'd like**
I know that you can have "buttons" in Android persistant notification.
It would be nice to have the posibility to add such a button in the notification.

We could set it up in the "androidConfig", by setting a title and a callback.

That would allow us to stop the background execution, or any other actions coded in the callback.

[2021-07-08 21:08] akospwc commented on #9
I believe what's happening here is that the app crashes and the OS automatically restarts the service. In this case initialize is not getting called in time, meaning we are reverting to the default text.

I was able to reproduce this behavior with the example app:
- $ cd example
- $ flutter run
- start the demo by pressing Connect
- press 'q' on the console to exit the app

The notification disapp

[2021-07-16 10:55] Alt791350 opened #37 "Unable to create service java.lang.IllegalArgumentException: Invalid importance level"
I was testing some of my code and noticed this error when initializing for the very first time (when you just installed the app and initializing for the first time).

The full error:
[code]

So I wrote some test code to make sure it is just this package and not a conflict with something or other code I wrote wrong.
[code]

`AndroidNotificationImportance.Low` and `AndroidNotificationImportance.Min`

[2021-07-25 22:13] yo80106 commented on #1
@TexMexMax Did you successfully implement the plugin with Bluetooth? Recently, I am trying to do a similar thing. Thank you in advance.

[2021-07-26 10:45] DanielusG opened #38 "[BUG] binaryMessenger null value"
**Describe the bug**
when i start the application null exception trowed

**To Reproduce**
final androidConfig = FlutterBackgroundAndroidConfig(

    notificationTitle: "Allarme",
    notificationText: "Notifica per gli errori",
    notificationImportance: AndroidNotificationImportance.Default,
    notificationIcon: AndroidResource(name: 'background_icon', defType: 'drawable'),
    // Default is ic

[2021-07-27 09:08] JulianAssmann commented on #33
Thank you :)

What would be your use case for this?

In general, I don't think this is possible. When the user closes an app, the process is killed and therefore no Dart code gets executed anymore. When this happens, this plugin stops the foreground service as well (as implemented in version 0.1.3, see [here](https://github.com/JulianAssmann/flutter_background/commit/5baa023fbbf1276e42bba059431eee

[2021-08-16 16:30] JulianAssmann commented on #37
I was able to reproduce the error message. It seems that only `PRIORITY_DEFAULT`, `PRIORITY_HIGH` and `PRIORITY_MAX` are valid priority levels when creating the notification channel for a foreground service notification, even though the [documentation](https://developer.android.com/guide/components/foreground-services) claims otherwise 🤔
I think the easiest fix would be to just remove the two inva

[2021-08-16 16:30] JulianAssmann commented on #33
Closing due to inactivity. Please feel free to reopen this issue again at any time.

[2021-08-16 16:30] #33 closed

[2021-08-16 16:37] JulianAssmann commented on #32
The example app uses the following code:

[code]
This will ask the user for permission the first time, but when the permission is already granted, the message will not be displayed a second time.

Optionally you can check whether or not the plugin already has the permission by calling

[code]

before calling `initialize(...)`. That way you can inform the user of the upcoming permission granting di

[2021-08-16 16:37] #32 closed

[2021-08-16 16:54] #37 closed

[2021-08-17 08:40] #5 closed

[2021-08-18 09:21] bksubhuti opened #41 "Build Error:Release not found"
**Describe the bug**
The Release package is not found.

**To Reproduce**
I ran pub get and pub upgrade.

**Expected behavior**
It was working in debug but not reliably in release.. now I see the error..

**Screenshots**```

* What went wrong:
Execution failed for task ':app:processReleaseResources'.

     /mnt/Data/git/buddhist_sun/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml:4: AAPT

[2021-08-18 12:59] bksubhuti commented on #41
flutter clean and rebuild fixed.

[2021-08-18 12:59] #41 closed

[2021-09-10 12:40] ChathuraHettiarachchi opened #42 "Notification icon - Release build"
This was strange. I tested the application on debug mode and the icon I'm providing is getting displayed correctly. But when tested with release build after flutter clean, icon just showing grey squre.

[code]

[2021-09-10 20:56] #4 closed

[2021-09-20 00:07] slowisfast168 commented on #38
This bug is still there on the version flutter_background: ^1.0.2+1

[2021-09-22 07:46] typexy commented on #34
I have the same issue, with samsung and oneplus devices.
@sils Did you solve it or is there any orkaround?
@JulianAssmann A fix is appreciated, because the plugin is working well, despite the notification issue. Perhaps this one could be merged with the fix provided by @akospwc in #9

[2021-09-30 08:23] Alystrasz commented on #42
Hello @ChathuraHettiarachchi,

Your problem is not linked to `flutter_background` package, but rather to your icon files.
Android notification icons should not feature other colors than white (you can still include some alpha).

Check out https://clevertap.com/blog/fixing-notification-icon-for-android-lollipop-and-above/ for more details!

[2021-10-02 09:58] JulianAssmann commented on #35
Strange. I'm explicitly setting the WakeLock not to be referenced counted (see https://github.com/JulianAssmann/flutter_background/blob/8f2dec361990d0e119701fd191ad641dc1d664f7/android/src/main/kotlin/de/julianassmann/flutter_background/IsolateHolderService.kt#L77), so one call to `release()` should release the WackeLock no matter how many `acquire()` calls there were prior to it.

This bug should

[2021-10-02 10:00] JulianAssmann commented on #9
@akospwc Thank you very much for the fix. Could you submit a pull request please?

[2021-10-13 12:35] Wackymax opened #44 "[BUG] Error when targeting Android S+"
**Describe the bug**
When targeting Android S+ and requesting the background service to enable the following error is thrown:

[code]

[2021-10-13 22:10] #44 closed

[2021-10-14 09:49] #26 closed

[2021-11-30 09:22] peterweb2005 commented on #25
somehow my app's tap wont open app, but false open app info, why?

[2021-12-06 11:23] AbanoubWagih94 opened #48 "remove initialize message"
how to remove initialize message appear one app install at first time

[2021-12-06 14:14] JulianAssmann commented on #9
Can you try again with the current version and let me know if the problem still exists?

[2021-12-06 14:15] JulianAssmann commented on #9
@chocovish @ViniciusDiasSilva @daurin-oshin  Can you try again with the current version and let me know if the problem still exists?

[2021-12-06 14:16] JulianAssmann commented on #48
Sorry, I don't quite understand your question. Do you only want the message to appear on the first app launch after installation?

[2021-12-06 14:16] AbanoubWagih94 commented on #48
@JulianAssmann  yes

[2021-12-06 14:17] JulianAssmann commented on #38
@slowisfast168 @DanielusG Can you check if that error still exists with the current version (v. 1.1.0) and let me know?

[2021-12-06 16:05] rohitsangwan01 opened #49 "App Still active After Swipe up from Memory"
**Describe the bug**
Great package Man , but am facing an issue , my app is keeping a connection with bluetooth device in background , and that connection depends on a Stream , so as soon as i close that stream , connection will be lost from Bluetooth device , so it was working fine without this package , when i swipe up app from Memory  , App disconneted from Bluetooth Device , which was fine , b

[2021-12-06 18:36] AbanoubWagih94 commented on #48
@JulianAssmann no i don't want the message appear

[2021-12-07 08:53] JulianAssmann commented on #48
That isn't possible, because the OS requires the user to give permission to the app.

[2021-12-07 09:02] AbanoubWagih94 commented on #48
if i remove battery optimization from manifest will cause any problem ?!

[2021-12-09 13:39] JulianAssmann commented on #49
Mmh interesting, I will investigate the issue when I have the time.

[2021-12-09 13:39] JulianAssmann commented on #48
Yes. The Android OS will not allow any background execution without letting the user know about it, which is perfectly understandable from my POV.

[2021-12-09 13:39] #48 closed

[2021-12-13 04:47] rohitsangwan01 commented on #49
@JulianAssmann , i think Foreground services keeping the app active even if we swipe up the app from taskbar of mobile , but it calls that Terminate service method in native android, maybe we can have a callback there , so that flutter user can perform some task in that callback , when user swipe up app

[2021-12-13 10:16] JulianAssmann commented on #49
Yes, that's a good idea anyway. I was working on callbacks for action buttons anyway, so that is a logical next step. Thanks for the suggestion.

[2021-12-13 13:59] AbanoubWagih94 commented on #48
@JulianAssmann there is any way to ignore asking about battery optimization ?!

[2021-12-15 00:36] PeterNjeim commented on #42
I'm facing the same issue. The icon appears properly in debug mode, but does not appear properly in release mode. My icon is white with some slightly transparent white areas. So I decided to test with a pure white icon, either fully opaque or fully transparent pixels, same thing. If it was truly an icon issue, it wouldn't work in either debug mode or release mode, something else is happening here.

[2021-12-19 16:54] butterken opened #50 "[BUG] initialize() return false on Android TV, no problem found on android phone"
I am now developing application for android TV that needs background service. The following command return false when i run on android TV.  The same problem doesn't exist on android phone.

final androidConfig = FlutterBackgroundAndroidConfig(
      notificationTitle: "Background Device Health Check",
      notificationText: "Notification for keeping the app running in the background",
      notif

[2021-12-20 14:03] JulianAssmann commented on #50
Unfortunately, I currently have no Android TV available for testing and therefore also no experience with developing for it. So I need help to solve this problem.

[2021-12-22 11:46] butterken commented on #50
I dont have Android TV either. I just use the buildin emulator of android studio to test. The result is that on phone emulator run smoothly but failed on TV emulator. After checking the console carefully, i find that FlutterBackground.initialize return false and thus, the program stop.

[2022-01-02 19:38] UbaidBodla opened #51 "App crash after some time without any reason"
**App crash after some time (after 2,3 minutes )don't know why after screen lock**
basically, I want to send msg by the telegram bot when I found a notification from a certain app and it always remains in the background.
My project is here
https://github.com/UbaidBodla/bot_project

Maybe I am using it in the wrong way.
Thanks

Ignore my English

[2022-01-02 20:19] UbaidBodla commented on #51
here is the error

![image](https://user-images.githubusercontent.com/50143346/147888421-edeea960-6007-4520-b2a3-0a43fd61a40d.png)

[2022-01-04 10:14] UbaidBodla commented on #51
@JulianAssmann Please help me.

[2022-01-08 13:53] JulianAssmann commented on #51
On which phone did you test this on?

[2022-01-14 07:34] mado-bohsali opened #52 "iOS Background Operations"
As per your package description, you have mentioned that iOS is not supported. How should I make sure of you package for iOS? In brief, all I want to do is do save the current open quiz (1 question and its options) in the background. That said, in case the app is back online, I redirect the user to the last opened question.

[2022-01-14 15:38] JulianAssmann commented on #52
Sorry, I don't quite understand? Are you asking me if the package is working on iOS, if it *could* work on iOS or if you should try to implement the package for iOS?

[2022-01-14 19:47] mado-bohsali commented on #52
Yes i'm asking if it works on iOS since you mentioned on pub.dev "iOS is currently not supported."

[2022-01-14 19:54] JulianAssmann commented on #52
No, unfortunately not. As you can see, the iOS implementation is empty. I don't think something like that is even possible on iOS.

[2022-01-14 19:54] #52 closed

[2022-01-22 13:56] otto-dev commented on #38
I just ran into this on `1.1.0`. Cheers

[2022-01-25 18:34] utan opened #53 "App crashes after accepting permission"
**Describe the bug**
After the permission are accepted the app crashes.

**To Reproduce**
You must include full steps to reproduce so that we can reproduce the problem.

**Expected behavior**
App suppose to work normally

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone:**

 -Android emulator Pixel 3A

<details>
  <summary>Logs</summary>

[code]

[code]
</

[2022-01-25 18:43] JulianAssmann commented on #53
This plugin is Android only, see the documentation.

[2022-01-25 18:46] utan commented on #53
I am on android..

[2022-01-25 18:46] utan commented on #53
see the logs..

[2022-01-25 19:01] utan opened #54 "App crashes after accepting permission"
**Describe the bug**
App crashes after accepting permission.

**Expected behavior**
Supposed to work normally.

**Smartphone:**

 - Android emulator/ Real device

<details>
  <summary>Logs</summary>
[code]
</details>

I get following error:
[code]

[2022-01-25 19:05] JulianAssmann commented on #54
Duplicate

[2022-01-25 19:06] #54 closed

[2022-01-25 19:06] JulianAssmann commented on #53
Ah OK, the issue first said you were on iPhone.

[2022-01-25 19:24] utan commented on #53
My bad, I am really bad with github..

[2022-01-25 20:39] utan commented on #53
So any ideas why is this bug coming up?

[2022-01-29 14:28] utan commented on #53
So, I decided to test with old versions and all null sound version works,  but version 1.0.0 and 1.1.0.

I have tried to see what are the changelogs on those versions to see what's goin on.

[2022-02-08 11:37] JulianAssmann commented on #50
I'm currently not able to run an Android TV emulator, presumably because I'm on an Apple M1 Macbook. But if the plugin works under Android for Phones, there is probably some configuration error in some Manifest file.

[2022-02-08 11:38] JulianAssmann commented on #53
Did you find the issue?

[2022-02-08 11:43] JulianAssmann commented on #35
Which version did you use and is the problem fixed in the latest version?

[2022-02-08 14:40] utan commented on #53
No I haven't..

[2022-02-14 08:48] bachbop9999 commented on #38
Did this issue be solved?

[2022-02-17 13:05] JulianAssmann commented on #38
Unfortunately, I currently don't have time to test this. I hope, I will be able to test and fix this within the coming months.

[2022-04-13 07:28] victor-semenovich-dev opened #56 "[BUG] FlutterBackground is not initialised after letting app run in background"
**Describe the bug**
After run the FlutterBackground.initialize() command on the first app start, the application shows the "Let app always run in background?" dialog. If press "Allow", the FlutterBackground.initialize() returns false. FlutterBackground.enableBackgroundExecution() doesn't work after that. The bug is not reproduced on the second app run. In this case the dialog is not shown, and th

[2022-04-13 08:58] victor-semenovich-dev commented on #42
I also have the same problem. The icon is not displayed in the release mode.

[2022-05-11 21:07] Baldur008 opened #57 "[BUG] Doesn't work in real devices"
**Describe the bug**
It works in emulator but not in a real device

**To Reproduce**
[code]

**Expected behavior**
I am calling both initialize and enablebackgroundexecution at the same time. It works on emulator but not in a real device

**Smartphone:**

 - Emulator: Pixel 4 API 29
 - Real Device: Oneplus 9R Android 12, Realme Android 12

**Logs:**

No Exception/Error Found.

[2022-05-11 21:08] Baldur008 commented on #56
Found Solution ?

[2022-05-19 07:46] blackbusters commented on #35
I'm still experiencing this warning with latest version, and in real samsung devices, it used 100% cpu and freeze hang the app, was that had anything to do with this?

[2022-05-26 20:09] Sesu8642 commented on #57
enableBackgroundExecution requires the initialization to be finished. In the emulator, the initialization is presumably fast enough to be finished by chance. You should probably use  _await_:
[code]
If you need to do it in a non-async function, you can also do the following:
[code]

[2022-05-27 14:56] sprimm98 commented on #34
@sils @typexy Might be a bit late, but I experienced the same issue. But after removing the notificationIcon configuration, this worked flawlessly. Guess, this is because I didn't define any 'background_icon'.

[2022-06-12 13:43] sprimm98 opened #58 "[BUG] App crashes on popping route programmatically"
Hi Julian, first of all thanks for your amazing package. It enables me to keep a bluetooth connection and data synchronization process running in the background. Before describing the bug, a few things on the general usage: If a bluetooth connection is established, the app pushes a screen for real-time viewing of incoming data and the underlying handler enables background execution. When the user

[2022-06-13 09:21] sprimm98 commented on #58
I'm sorry, closing this issue for now, as minimal code change and reinstalling fixed the crash.

[2022-06-13 09:21] #58 closed

[2022-06-14 17:04] tronje commented on #58
@sprimm98 can you elaborate how you fixed this/ I'm getting a similar crash:

[code]

[2022-06-15 12:15] sprimm98 commented on #58
@tronje Yes, it was quite similar. I called the dispose method of the underlying controller twice, and therefore the mentioned method was also called twice resulting in the crash. Calling it just once fixed it.

[2022-06-15 20:28] JulianAssmann commented on #58
Thank you for your comments, I will probably update the `FlutterBackground.disableBackgroundExecution()` method to not crash when called multiple times.

[2022-06-17 14:28] AlexBolot commented on #51
@JulianAssmann I have the same issue, sometimes the app crashes with the same message.
Google Pixel 3, Android 12

[2022-06-22 15:56] MuhammadFahidSarker opened #59 "Foreground Service closes after app swiped up/closed from multitasking panel"
The plugin works fine when the app is focused or in the background. But once, once the app is closed by swiping up from the multitasking area, the notification is removed.

APP in Focus:
![Screenshot_20220622-215224__01](https://user-images.githubusercontent.com/80589556/175076656-2bd216d4-b24d-415b-bc5f-948c69637560.jpg)

App In Background but not closed:
![Screenshot_20220622-215234__01](https:/

[2022-06-24 20:07] JulianAssmann commented on #59
This is intentional behavior introduced by #10. As closing the app is an intentional action by the user, this intent has to be respected by apps. The isolate the app runs in should be killed either way, so keeping the foreground notification probably does not achieve the desired effect.
I don't quite understand the reason you need the app running in the background in order for the alarm manager to

[2022-06-25 00:24] MuhammadFahidSarker commented on #59
I see. Thank you for clarification.

The thing is Android probably kills my app process after it has been closed for few days. It is a prayer notification app, so notifying prayer time everyday and calculating the next time should continue happening even if user does not open the app for weeks. But, Alarm manager does not fire alarms on due time. Hence, I wanted to keep a process running to make s

[2022-06-25 00:25] #59 closed

[2022-06-28 08:19] rupamking1 opened #60 "this package is deprecated and expired"

[2022-06-30 09:48] JulianAssmann commented on #60
Can you elaborate please?

[2022-06-30 11:17] B33pin commented on #60
it doesn't run at all.

[2022-06-30 13:58] JulianAssmann opened #61 "Update for Android 13"
Android 13 introduces some changes that might affect this plugin:
- [Foreground Services (FGS) Task Manager](https://developer.android.com/about/versions/13/changes/fgs-manager): The users can now stop foreground services
- [Battery Resource Utilization](https://developer.android.com/about/versions/13/changes/battery): Lots of changes to the battery management including stricter rules

Updates are

[2022-07-08 12:27] zaheermehmood opened #62 "App crashes on amazon firestick android-9"
Please check below crash detail.
RuntimeException
Failure delivering result ResultInfo{who=null, request=5672353, result=0, data=null} to activity {com.app.splitflap/com.app.splitflap.MainActivity}: java.lang.IllegalStateException: Reply already submitted

**IllegalStateException
Reply already submitted**

io.flutter.embedding.engine.f.e$g in a at line 4
k.a.c.a.k$a$a in a at line 1
de.julianassma

[2022-07-11 12:48] boldt commented on #56
I can confirm it. On first run, `initialize` returns `false`, on second run it returns `true`.

[2022-08-01 19:19] #60 closed

[2022-08-02 13:31] omerhertz commented on #57
Same issue for me.
Working fine with emulator.
I see that the await are done, but the app code is not running
I am using:
[code]

[2022-08-04 12:12] omerhertz commented on #57
The problem was in my real device configuration! I allowed my app to use location all the time, and it started working in the background too!

[2022-08-05 13:29] JavesonYehudi commented on #57
There's definitely an issue on real devices. You have to initialise the configuration twice in order for it to work.

[2022-08-17 17:33] boldt commented on #56
This workaround works for me:

[code]

[2022-09-30 16:26] innerk commented on #57
same happened to me, on emulator works but on real devices throws

java.lang.RuntimeException: Unable to start service de.julianassmann.flutter_background.IsolateHolderService@8ca558 with Intent { act=START cmp=com.imvaswms.invaswmsdm/de.julianassmann.flutter_background.IsolateHolderService }: java.lang.IllegalArgumentException

[2022-10-06 16:17] janoskranczler commented on #56
The same issue for me on Google Pixel 3A and Samsung Galaxy A13.
For me, the workaround doesn't work either.

[2022-10-14 18:22] JLoRenderer opened #64 "[BUG] AnimationController callback is not executing in background mode"
**Describe the bug**
Callback form an AnimationController is not executing in background mode.

**To Reproduce**
AnimationController? _controller;
_controller = AnimationController(
      vsync: this,
      duration: Duration(seconds: 10),
    );
    _controller!.addStatusListener((status) {
      switch (status) {
        case AnimationStatus.forward:
          _onStart();
          break;

[2022-10-14 19:22] JLoRenderer commented on #64
To clarify: The animation continues while the screen is off , but the callback is not executed.

[2022-10-21 15:35] kaciula commented on #36
I am also interested in adding actions to the foreground service. There are usescases where you want to give the user the option of stopping the foreground service.

[2022-11-01 15:32] jpeiffer opened #65 "[BUG] Current published version isn't supported on build gradle 7.3+"
**Describe the bug**
[code]

**To Reproduce**
Using the following settings in the Android `build.gradle`:

[code]

**Expected behavior**
Working builds.  It looks like the issue has already been addressed on the `master` branch and may just require a new release to pub.dev to resolve.

**Screenshots**
n/a

**Smartphone:**

n/a

<details>
  <summary>Logs</summary>

[code]

[code]
</details>

[2022-11-06 13:44] datdescartes commented on #8
@JulianAssmann
As [option to not request battery optimization permission](https://github.com/JulianAssmann/flutter_background/commit/37ecfb347b245c5d3f3f9a8d413d03f3fd8a6786) is added, could you release new version to pub.dev?
The[ current version(1.1.0)](https://pub.dev/packages/flutter_background) doesn't reflect latest code

[2022-11-07 11:15] kerk12 opened #66 "[BUG] Plugin not properly compatible with desugar version 1.2.* (Android 33)"
**Describe the bug**
I've recently tried to develop an app that utilizes your plugin. The plugin works great on an emulator w. Android 31, no compatibility issues there. The issue arises with Android 33 based emulators. I'm using the `flutter_local_notification` plugin which utilizes `desugar`. The latest `desugar` version (1.2.2), which is fully compatible w. Android 33 is [incompatible](https://

[2022-11-07 11:54] kerk12 commented on #66
This is directly related to #65.

[2022-11-25 15:42] boldt opened #67 "[Feature Request] COnfig option to name the notification channel"
## State of the art

I can configure the background service as follows:

[code]
The title will be used in the background notification:

![grafik](https://user-images.githubusercontent.com/750793/204018031-86198263-c6b3-49db-8c0d-b0f38fdbba47.png)

The title is also used in the notification settings of the app:

![grafik](https://user-images.githubusercontent.com/750793/204017731-d620fc69-5a20-4a84

[2022-11-26 08:10] JaffaKetchup commented on #65
Hey @JulianAssmann, can you please have a look into this when you get time?

[2022-11-28 14:07] kingstertime commented on #66
fix please